
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.swal-button-container {
    display: flex;
    justify-content: center;
}

body{
    padding: 1rem;
    background-image: url(../img/Madre-hijo.jpg);
    background-size: cover;
    overflow: hidden;
}

#nombreAlumnoContenedor{
    font-size: 2rem;
    border: 2px solid black;
    text-shadow: 10px 10px 5px white;
}

h1{
    font-size: 3.5rem;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    border-radius: 1rem;
}

h2{
    margin: 1rem;
    font-weight: bolder;
}

.descripcion{
    max-width: 30%;
    margin-top: 2rem;
    background-color:  rgba(0, 61, 80, .5);
    padding: 1rem;
    display: inline-block;
    text-align: center;
    border-radius: 20px;
    color: #fff
}

p{
    font-weight: 200;
    font-size: 1.2em;
}

.contenedor{
    background-color:  rgba(17,26,89, 0.3);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 20px;
    margin-top: 60px;
}

a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 2rem;
}

a:hover{
    color: aliceblue;
}

.matematica, .adivinoNumero, .culturaGeneral, .argentina, .lista_de_tareas, .armar__palabras, .memory, .pasa__palabra, .api {
    flex-basis: 40%;
    background-color:  rgba(0, 61, 80, .5);
    margin: .5rem 1rem;
    padding: 15px 15px;
    text-align: center;
    border-radius: 10px;
}

.saludo{
    position: absolute;
    background-color: rgba(240, 248, 255, .2);
    bottom: 1rem;
    left: 15rem;
}

@media screen and (max-width: 768px){
    h1{
        font-size: 2.2rem;
    }
    .descripcion{
        max-width: 80%;
        margin: auto;
        margin-top: 1.5rem;
        padding: .5rem;
        display: flex;
        flex-direction: column;
    }
    .matematicas{
        flex-direction: column;
        justify-content: center;
    }
    a{
        font-size: 1.5rem;
    }


}
